name: Trigger auto deployment for container-app-hlxtdx7tngbge

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '//**'
    - '.github/workflows/container-app-hlxtdx7tngbge-AutoDeployTrigger-be14437f-9cc3-4404-b8e9-34f27fa5b6ab.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.CONTAINERAPPHLXTDX7TNGBGE_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CONTAINERAPPHLXTDX7TNGBGE_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CONTAINERAPPHLXTDX7TNGBGE_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }} 
          registryUrl: containerregistryhlxtdx7tngbge.azurecr.io
          registryUsername: ${{ secrets.CONTAINERAPPHLXTDX7TNGBGE_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CONTAINERAPPHLXTDX7TNGBGE_REGISTRY_PASSWORD }}
          containerAppName: container-app-hlxtdx7tngbge
          resourceGroup: fastapiragprojecta7e4
          imageToBuild: containerregistryhlxtdx7tngbge.azurecr.io/container-app-hlxtdx7tngbge:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


